.kertas{
    background-color: rgb(231,245,249);
    width: 55rem;
    height: 80rem;
    position: absolute;
    margin-top: 2rem;
    box-shadow: 8px 8px rgb(113, 111, 111);
    margin-left: 7rem;
}

.bulat-profile{
    background-image: url(prof.png);
    position: absolute;
    width: 14rem;
    height: 14rem;
    background-size: 14rem;
    border-radius: 50%;
    top: 1.2rem;
    left: 1.5rem;
    border: 3px solid white;
    box-shadow: 5px 5px 14px black;
}

.garis{
    height: 2px;
    width: 34.8rem;
    background-color: white;
    top: 8.3rem;
    left: 18rem;
    position: absolute;
}

.garis2{
    height: 2px;
    width: 3rem;
    top: 25.2rem;
    left: 12.2rem;
    background-color: white;
    position: absolute;
}

.garis3{
    height: 2px;
    width: 7rem;
    top: 38.2rem;
    left: 8.1rem;
    background-color: white;
    position: absolute;
}

.garis4{
    height: 2px;
    width: 2.4rem;
    top: 47.4rem;
    left: 12.7rem;
    background-color: white;
    position: absolute;
}

.garis5{
    height: 8rem;
    width: 0.1rem;
    top: 26.8rem;
    left: 12px;
    background-color: rgb(3, 60, 77);
    position: absolute;
}

.garis6{
    height: 4.3rem;
    width: 0.1rem;
    top: 39.8rem;
    left: 12px;
    background-color: rgb(3, 60, 77);
    position: absolute;
}

.garis7{
    height: 3.9rem;
    width: 0.1rem;
    top: 49.1rem;
    left: 12px;
    background-color: rgb(3, 60, 77);
    position: absolute;
}

.garis8{
    height: 8.8rem;
    width: 4px;
    top: 34.3rem;
    left: 32.9rem;
    background-color: rgb(3, 60, 77);
    position: absolute;
}

.bulat{
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 25rem;
    position: absolute;
    left: 15rem;
}

.bulat2{
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 38rem;
    position: absolute;
    left: 15rem;
}

.bulat3{
    background-color: white;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 47.2rem;
    position: absolute;
    left: 15rem;
}

.bulat4{
    background-color: rgb(3, 60, 77);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    top: 28rem;
    position: absolute;
    left: 0.6rem;
}

.bulat5{
    background-color: rgb(3, 60, 77);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    top: 31.3rem;
    position: absolute;
    left: 0.6rem;
}

.bulat6{
    background-color: rgb(3, 60, 77);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    top: 34.5rem;
    position: absolute;
    left: 0.6rem;
}

.bulat7{
    background-color: rgb(3, 60, 77);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    top: 40.8rem;
    position: absolute;
    left: 0.6rem;
}

.bulat8{
    background-color: rgb(3, 60, 77);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    top: 43.9rem;
    position: absolute;
    left: 0.6rem;
}

.bulat9{
    background-color: rgb(3, 60, 77);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    top: 50.1rem;
    position: absolute;
    left: 0.6rem;
}

.bulat10{
    background-color: rgb(3, 60, 77);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    top: 53rem;
    position: absolute;
    left: 0.6rem;
}

.bulat11{
    background-color: rgb(3, 60, 77);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 35.7rem;
    left: 32.7rem;
    position: absolute;
}

.bulat12{
    background-color: rgb(3, 60, 77);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 39.2rem;
    left: 32.7rem;
    position: absolute;
}

.bulat13{
    background-color: rgb(3, 60, 77);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 42.7rem;
    left: 32.7rem;
    position: absolute;
}

.kotak{
    width: 55rem;
    height: 17rem;
    background-color: rgb(16,75,100);
    display: flex;
    box-shadow: 0px 0px 30px black;
}

.kotak2{
    width: 17rem;
    height: 33rem;
    background-color: rgb(9,95,120);
    display: flex;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position: absolute;
    top: 23rem;
    box-shadow: 0px 0px 38px black;
}

.kotak3{
    width: 16rem;
    height: 2.7rem;
    background-color: rgb(3, 60, 77);
    display: flex;
    position: absolute;
    top: 23.8rem;
    border-top-right-radius: 30px;
}

.kotak4{
    width: 16rem;
    height: 9.4rem;
    background-color: white;
    display: flex;
    position: absolute;
    top: 26.8rem;
}

.kotak5{
    width: 16rem;
    height: 2.7rem;
    background-color: rgb(3, 60, 77);
    display: flex;
    position: absolute;
    top: 36.8rem;
}

.kotak6{
    width: 16rem;
    height: 5.7rem;
    background-color: white;
    display: flex;
    position: absolute;
    top: 39.8rem;
}

.kotak7{
    width: 16rem;
    height: 2.7rem;
    background-color: rgb(3, 60, 77);
    display: flex;
    position: absolute;
    top: 46.1rem;
}

.kotak8{
    width: 16rem;
    height: 5.7rem;
    background-color: white;
    display: flex;
    position: absolute;
    top: 49.1rem;
    border-bottom-right-radius: 28px;
}

.kotak9{
    width: 30rem;
    height: 2.7rem;
    background-color: rgb(9,95,120);
    position: absolute;
    display: flex;
    top: 23.8rem;
    left: 21rem;
    border-radius: 30px;
    box-shadow: 6px -6px rgb(3, 60, 77);
}

.kotak10{
    width: 30rem;
    height: 2.7rem;
    background-color: rgb(9,95,120);
    position: absolute;
    display: flex;
    top: 31.7rem;
    left: 21rem;
    border-radius: 30px;
    box-shadow: 6px -6px rgb(3, 60, 77);
}

.text{
    top: 2.8rem;
    left: 18rem;
    text-shadow: 4px 4px 7px black;
    position: absolute;
    color: white;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text2{
    top: 7rem;
    left: 18rem;
    text-shadow: 4px 4px 7px black;
    position: absolute;
    color: rgb(240, 232, 232);
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.datprib{
    top: 23rem;
    left: 1.5rem;
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    text-shadow: 4px 4px 7px black;
}

.ttl{
    top: 25.8rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.sby{
    top: 27rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.jnskl{
    top: 29.2rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.perem{
    top: 30.3rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.agama{
    top: 32.3rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.Kristen{
    top: 33.5rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.kontak{
    top: 36rem;
    left: 1.5rem;
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    text-shadow: 4px 4px 7px black;
}

.email{
    top: 38.7rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.gglmail{
    top: 39.6rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.notelp{
    top: 41.7rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.nomor{
    top: 42.8rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.sosmed{
    top: 45.3rem;
    left: 1.5rem;
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    text-shadow: 4px 4px 7px black;
}

.inst{
    top: 47.9rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.chelle{
    top: 48.9rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.fcbk{
    top: 50.6rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.fb{
    top: 51.7rem;
    left: 1.5rem;
    position: absolute;
    color: black;
    font-family: "Times New Roman";
}

.tntgsy{
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    top: 22.9rem;
    left: 24rem;
    text-shadow: 4px 4px 7px black;
}

.about{
    position: absolute;
    color: rgb(9,95,120);
    font-family: "Times New Roman";
    top: 26rem;
    left: 21rem;
    text-shadow: 1px 1px 3px gray;
    font-size: 0.8rem;
}

.riwayat{
    position: absolute;
    color: white;
    font-family: "Helvetica Neue";
    top: 30.8rem;
    left: 24rem;
    text-shadow: 4px 4px 7px black;
}

.sd{
    position: absolute;
    color: rgb(9,95,120);
    text-shadow: 1px 1px 3px rgb(100, 99, 99);
    top: 34.2rem;
    left: 25rem;
    font-size: 0.9rem;
}

.smp{
    position: absolute;
    color: rgb(9,95,120);
    text-shadow: 1px 1px 3px rgb(100, 99, 99);
    top: 37.7rem;
    left: 25rem;
    font-size: 0.9rem;
}

.sma{
    position: absolute;
    color: rgb(9,95,120);
    text-shadow: 1px 1px 3px rgb(100, 99, 99);
    top: 41.1rem;
    left: 25rem;
    font-size: 0.9rem;
}

.namasd{
    position: absolute;
    color: rgb(9,95,120);
    top: 34.2rem;
    left: 35rem;
    text-shadow: 1px 1px 3px rgb(100, 99, 99);
}

.namasmp{
    position: absolute;
    color: rgb(9,95,120);
    top: 37.7rem;
    left: 35rem;
    text-shadow: 1px 1px 3px rgb(100, 99, 99);
}

.namasma{
    position: absolute;
    color: rgb(9,95,120);
    top: 41.2rem;
    left: 35rem;
    text-shadow: 1px 1px 3px rgb(100, 99, 99);
}